<VirtualHost _default_:80>
	ServerName %HOST%
	ServerAdmin %WEBMASTER_ADDRESS%
	
	DocumentRoot /var/www/%HOST%/html

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	RewriteEngine On

#sslOnly#    RewriteCond %{HTTPS} off
#sslOnly#    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	RewriteRule    ^/share/(.*)/proxy/alfresco/api/solr/(.*)$   -   [F]
	RewriteRule    ^/share/-default-/proxy/alfresco/api/(.*)$   -   [F]

	RewriteRule    ^/alfresco/(s|service|wcs|wservice)/api/solr/(.*)$   -   [F]

	RewriteCond 	%{REQUEST_METHOD}	^GET$
	RewriteRule 	^/$ http://%{HTTP_HOST}/share/	[R=301,L]

	ProxyPreserveHost On

	ProxyPassMatch "^/(alfresco(/.*)?|_vti_bin/.*|_vti_inf.html)?$" "http://%REPOSITORY_HOST%:%REPOSITORY_PORT%/$1"
	ProxyPassReverse "/alfresco" "http://%REPOSITORY_HOST%:%REPOSITORY_PORT%/alfresco"
	ProxyPassReverse "/_vti_bin" "http://%REPOSITORY_HOST%:%REPOSITORY_PORT%/_vti_bin"

	ProxyPass "/share" "http://%SHARE_HOST%:%SHARE_PORT%/share"
	ProxyPassReverse "/share" "http://%SHARE_HOST%:%SHARE_PORT%/share"

	ProxyPassReverse "/" "http://%REPOSITORY_HOST%:%REPOSITORY_PORT%/"
</VirtualHost>